###############################################################################
# CONTACTS.CFG - SAMPLE CONTACT/CONTACTGROUP DEFINITIONS
#
#
# NOTES: This config file provides you with some example contact and contact
#        group definitions that you can reference in host and service
#        definitions.
#
#        You don't need to keep these definitions in a separate file from your
#        other object definitions.  This has been done just to make things
#        easier to understand.
#
###############################################################################



###############################################################################
#
# CONTACTS
#
###############################################################################

# Just one contact defined by default - the Nagios admin (that's you)
# This contact definition inherits a lot of default values from the
# 'generic-contact' template which is defined elsewhere.

define contact{
        contact_name                    431admin1                       ; Short name of user
        use                             generic-contact                 ; Inherit default values from generic-contact template (defined above)
        alias                           Stefano Manni                   ; Full name of user
        email                           stefano.manni@mymail.it         ; <<***** CHANGE THIS TO YOUR EMAIL ADDRESS ******
        }

define contact{
        contact_name                    429admin1                       ; Short name of user
        use                             generic-contact                 ; Inherit default values from generic-contact template (defined above)
        alias                           Kalpana Archakam                   ; Full name of user
        email                           kalpana.archakam@tcs.com        ; <<***** CHANGE THIS TO YOUR EMAIL ADDRESS ******
        host_notifications_enabled      1
        service_notifications_enabled   1
        service_notification_period     24x7
        host_notification_period        24x7
        service_notification_options    c
        host_notification_options       d
        can_submit_commands 1
        }

define contact{
        contact_name                    436admin1                       ; Short name of user
        use                             generic-contact                 ; Inherit default values from generic-contact template (defined above)
        alias                           Stefano Manni                   ; Full name of user
        email                           stefano.manni@mymail.it         ; <<***** CHANGE THIS TO YOUR EMAIL ADDRESS ******
        }

define contact{
        contact_name                    623admin1                       ; Short name of user
        use                             generic-contact                 ; Inherit default values from generic-contact template (defined above)
        alias                           Enrcio Alletto                  ; Full name of user
        email                           enrico.alletto@ericsson.com     ; <<***** CHANGE THIS TO YOUR EMAIL ADDRESS ******
        host_notifications_enabled	1
	service_notifications_enabled	1
	service_notification_period     24x7
	host_notification_period        24x7
	service_notification_options    c
	host_notification_options       d
        can_submit_commands 1
        }

define contact{
        contact_name                    690admin1                       ; Short name of user
        use                             generic-contact                 ; Inherit default values from generic-contact template (defined above)
        alias                           Enrcio Alletto                  ; Full name of user
        email                           enrico.alletto@ericsson.com     ; <<***** CHANGE THIS TO YOUR EMAIL ADDRESS ******
        host_notifications_enabled      1
        service_notifications_enabled   1
        service_notification_period     24x7
        host_notification_period        24x7
        service_notification_options    c
        host_notification_options       d
        can_submit_commands 1
        }

define contact{
        contact_name                    660admin1                       ; Short name of user
        use                             generic-contact                 ; Inherit default values from generic-contact template (defined above)
        alias                           Kalpana Archakam          ; Full name of user
        email                           kalpana.archakam@tcs.com   ; <<***** CHANGE THIS TO YOUR EMAIL ADDRESS ******
        host_notifications_enabled  1
        service_notifications_enabled   1
        service_notification_period     24x7
        host_notification_period        24x7
        service_notification_options    c
        host_notification_options       d
        can_submit_commands 1
        }


define contact {
    contact_name            nagiosadmin                                 ; Short name of user
    use                     generic-contact                             ; Inherit default values from generic-contact template (defined above)
    alias                   Nagios Admin                                ; Full name of user
    email                   nagios@localhost                            ; <<***** CHANGE THIS TO YOUR EMAIL ADDRESS ******
}



###############################################################################
#
# CONTACT GROUPS
#
###############################################################################

# We only have one contact in this simple configuration file, so there is
# no need to create more than one contact group.

define contactgroup {

    contactgroup_name       admins
    alias                   Nagios Administrators
    members                 nagiosadmin
}

define contactgroup{
        contactgroup_name       431admins
        alias                   431 Administrators
        members                 431admin1
        }

define contactgroup{
        contactgroup_name       429admins
        alias                   429 Administrators
        members                 429admin1
        }

define contactgroup{
        contactgroup_name       436admins
        alias                   436 Administrators
        members                 436admin1
        }

define contactgroup{
        contactgroup_name       623admins
        alias                   623 Administrators
        members                 623admin1
        }

define contactgroup{
        contactgroup_name       660admins
        alias                   660 Administrators
        members                 660admin1
        }

define contactgroup{
        contactgroup_name       690admins
        alias                   690 Administrators
        members                 690admin1
        }
